:root {
  /* Sizes */
  --container-max-w: 1152px;
  --global-font-size: 16px;
  /* Colors */
  --primary-color: #2174ea;
  --secondary-color: #62748e;
  --tertiary-color: #1d293d;
  --inverse-color: #ebe6e7;
  --text-light-color: #90a1b9;
  --title-light-color: #f1f5f9;

  /* Font */
  --text-font-family: "Inter", sans-serif;
  --title-font-family: "Playfair Display", sans-serif;
}
