@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font-family);
  color: var(--secondary-color); /*    --secondary-color: #62748e; */
  text-decoration: none;
}

html,
body {
  font-size: var(--global-font-size);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--tertiary-color); /*  --tertiary-color: #1d293d; */
  font-family: var(--title-font-family);
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
  color: var(--title-light-color); /*  --light-color: #f1f5f9 */
}

a.light,
p.light {
  color: var(--text-light-color);
}

*.light {
  color: var(--text-light-color); /*   --text-light-color: #90a1b9; */
}

.less-light {
  color: #cad5e2;
}

a {
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}

a:hover {
  color: var(--primary-color); /*  --primary-color: #2174ea; */
}

a.a-arrow-r {
  position: relative;
}

a.a-arrow .arrow-r {
  color: var(--primary-color);
  position: absolute;
  transition: all ease-in-out 0.15s;
  left: calc(100%+3px);
  margin-left: 4px;
}

a:hover .arrow-r {
  margin-left: 8px;
}

/*  -Utility per associare il display flex in maniera specifica a un elemento */

.flex {
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 100%;
  padding: 1.5rem;
  max-width: var(--container-max-w); /* --container-max-w: 1152px; */
}

/*  --------------------------------------DROPDOWN----------------------------------------------- */

.dropdown {
  position: relative;
}

.dropdown a svg {
  width: 12px;
  height: 12px;
  fill: var(--text-light-color);
}

.dropdown .dropdown__body {
  visibility: hidden;
  opacity: 0;
  margin-top: -5px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  top: calc(100%+0.5rem);
  right: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.25s;
}

.dropdown:hover .dropdown__body {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.dropdown .dropdown__body .dropdown__body-item a {
  display: block;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

/*  --------------------------------------END DROPDOWN----------------------------------------------- */

/*  --------------------------------------NAVBAR----------------------------------------------- */
nav {
  background-color: var(--tertiary-color);
  height: 80px;
  justify-content: center;
}

nav .nav__container {
  gap: 36px;
}

nav .navbar__logo a img {
  width: 32px;
  height: 32px;
}

nav .nav__menu {
  display: flex;
  flex-grow: 1;
  gap: 36px;
  align-items: center;
}

nav .nav__menu nav .nav__menu-item a {
  padding: 0.5rem 0;
}

nav .nav__actions {
  display: flex;
  gap: 36px;
  align-items: center;
}

nav .nav__actions .nav__actions-item:last-child a:hover {
  color: white;
}

/*  -----------------------------------END NAVBAR----------------------------------------------- */

/*  -----------------------------------HEADER---------------------------------------------- */
.wrapper {
  background-color: var(--tertiary-color);
}

.header .header__left .header__left-content h1 {
  font-family: var(--title-font-family);
  font-size: 4rem;
  font-weight: 700;
  line-height: 74px;
  margin: 0 0 16px;
}

.header p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 32px;
}

.header .header__left-cta {
  display: flex;
  width: 480px;
  height: 48px;
  gap: 8px;
}

.header .header__left-cta {
  align-items: center;
}

.header .header__left-cta-item {
  border: solid;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--primary-color);
  padding: 12px 24px;
}

.header .header__left-cta-item:last-child {
  background-color: #314158;
}

.header .header__left-cta-item a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
}

.header .arrow-r {
  color: #8ec5ff;
  position: absolute;
  transition: all ease-in-out 0.15s;
  left: calc(100%+1px);
  margin-left: 1.5px;
}

.header .arrow-r {
  margin-left: 3px;
}

.header .header__right {
  border: solid;
  border-width: 2px;
  border-color: var(--secondary-color);
}

.header .header__right img {
  width: 540px;
  height: 405px;
}

/*  -----------------------------------END HEADER---------------------------------------------- */
