@import url(./root.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font-family);
  color: var(--secondary-color); /*    --secondary-color: #62748e; */
  text-decoration: none;
}

html,
body {
  font-size: var(--global-font-size);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--tertiary-color); /*  --tertiary-color: #1d293d; */
  font-family: var(--title-font-family);
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
  color: var(--light-color); /*  --light-color: #f1f5f9 */
}
